.textarea{
    font-size: large;
}
.table{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    width: 70%;
}
.addbtn{
    margin-right: 20%;
    margin-left: 1%;
    width: 5%;
    /* background-color: transparent; */
}
h3{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 20%;
    width: 50%;  
    display: flex;
}

.months{
    margin-right: 10%;
    margin-left: 1%;
    width: 5%;
}